<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <span class="logo">Gym</span>
    <div class="container">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar10">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="navbar-collapse collapse" id="navbar10">
            <ul class="navbar-nav nav-fill w-100">
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'gym:athletes-detail' pk=user.id %}">
                  <i class="fa fa-user" aria-hidden="true"></i> Profile
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'gym:index' %}">
                      <i class="fa fa-home"></i> Home page
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'gym:athletes-list' %}">
                      <i class="fa fa-users"></i> Athletes
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'gym:exercise-list' %}">
                      <i class="fa fa-trophy"></i> Exercises
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'gym:training-list' %}">
                      <i class='fa fa-hand-grab-o'></i> Trainings
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="https://github.com/Polyakiv-Andrey/sports-training">
                      <i class="fa fa-github"></i> GitHub
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'gym:logout' %}">
                      <i class='fa fa-sign-out'></i> Logout
                    </a>
                </li>
            </ul>
        </div>
    </div>
</nav>