{% extends 'base.html' %}
{% load crispy_forms_filters %}

{% block styles %}
  <link href="/static/css/athlete_list.css" rel="stylesheet">
{% endblock %}

{% block content %}
  <div class="athlete-list-page">
   <div class="athlete-list-fon athlete-list-centre">
   <div class="athlete-list-centre">
  <h1 class="athlete-title">Athletes</h1>
  <form method="get" action="" class="form-inline">
  {% csrf_token %}
  {{ search_field|crispy }}
  <input type="submit" value="🔎" class="btn-info btn">
  </form>

   <div>

  {% if athlete_list %}
    {% for athlete in athlete_list %}
      <ul>
        <li>
        <div class="athlete-container">
          <a href="{% url 'gym:athletes-detail' pk=athlete.pk %}"> 
            {{ athlete }} 
          </a>
          {% if athlete.photo %}
          <img class="athlete-photo" src="{{ athlete.photo.url }}" alt="">
          {% else %}
          <img class="athlete-photo" alt="" src="/static/photos/empty_staff.png">
          {% endif %}
          {% if athlete.experience %}
          {{ athlete.experience }}
          {% else %}
          I have just started
          {% endif %}
        </div>
        </li>
      </ul>
    {% endfor %}
  {% else %}
    <p>Unfortunately athletes have not registered yet</p>
  {% endif %}
   </div>

   </div>

{#   --paginator--#}
   <div class="paginator-centre ">
{% load query_transform %}
{% if is_paginated %}
    <ul class="pagination">
      {% if page_obj.has_previous %}
        <li class="page-item">
          <a href="?{% query_transform request page=page_obj.previous_page_number %}" class="page-link">←</a>
        </li>
      {% endif %}
    <li class="page-item active">
      <span class="page-link">{{ page_obj.number }} of {{ paginator.num_pages }}</span>
    </li>
      {% if page_obj.has_next %}
        <li class="page-item">
          <a href="?{% query_transform request page=page_obj.next_page_number %}" class="page-link">→</a>
        </li>
      {% endif %}
    </ul>
  {% endif %}
</div>
{#     --paginator--#}
   </div>
  </div>
{% endblock %}
