{% extends 'base.html' %}
{% load crispy_forms_filters %}

{% block content %}
  <h1>Athletes</h1>
  <form method="get" action="" class="form-inline">
  {% csrf_token %}
  {{ search_field|crispy }}
  <input type="submit" value="🔎" class="btn-info btn">
  </form>
  {% if athlete_list %}
    {% for athlete in athlete_list %}
      <ul>
        <li><a href="{% url 'gym:athletes-detail' pk=athlete.pk %}"> {{ athlete }} </a></li>
      </ul>
    {% endfor %}
  {% else %}
    <p>Unfortunately athletes have not registered yet</p>
  {% endif %}
{% endblock %}