{% extends 'base.html' %}
{% load crispy_forms_filters %}
{% block styles %}
  <link href="/static/css/exercise-list.css" rel="stylesheet">
{% endblock %}

{% block content %}
  <div class="block-color">
  <div style="padding: 0 0 0 60vh">
  <h1 style="padding-left: 70px" class="exercise-title">
    Exercises
  <a class="btn btn-primary" style="float: right;" href="{% url 'gym:exercise-create' %}">
    +
  </a>
  </h1>
  <form method="get" action="" class="form-inline" style="padding-left: 70px">
  {% csrf_token %}
  {{ search_field|crispy }}
  <input type="submit" value="🔎" class="btn-info btn">
  </form>
  {% if exercise_list %}
    {% for exercise in exercise_list %}
      <ul class="list-correct">
        <li>
        <div class="block-correct">
          <div>
          <img class="picture-change" src="{{ exercise.picture.url }}" alt="">
          </div>
          <div style="padding: 30px 0 0 30px">
         <p><a href="{% url 'gym:exercise-detail' pk=exercise.id %}">
            {{ exercise.exercise_name }}
           </a></p>
             </div>
        <div style="margin: 0 0 0 50px">
          {% if exercise.exercise_creator.id == user.id %}
          <a class="btn btn-success" href="{% url 'gym:exercise-update' pk=exercise.id %}">
            Update
          </a>
          <a class="btn btn-danger" href="{% url 'gym:exercise-delete' pk=exercise.id %}">
            Delete
          </a>
          {% endif %}
         </div>
        </div>
        </li>
      </ul>
    {% endfor %}
  {% else %}
    <p>Unfortunately exercises have not added yet</p>
  {% endif %}

  {#   --paginator--#}
   <div class="paginator-centre " style="padding-left: 150px">
{% load query_transform %}
{% if is_paginated %}
    <ul class="pagination">
      {% if page_obj.has_previous %}
        <li class="page-item">
          <a href="?{% query_transform request page=page_obj.previous_page_number %}" class="page-link">←</a>
        </li>
      {% endif %}
    <li class="page-item active">
      <span class="page-link">{{ page_obj.number }} of {{ paginator.num_pages }}</span>
    </li>
      {% if page_obj.has_next %}
        <li class="page-item">
          <a href="?{% query_transform request page=page_obj.next_page_number %}" class="page-link">→</a>
        </li>
      {% endif %}
    </ul>
  {% endif %}
</div>
{#     --paginator--#}
</div>
  </div>
{% endblock %}

