{% extends 'base.html' %}
{% load static %}
{% block content %}
  <div class="home-page">
    <div class="home-page-top-section">
      <h1 class="title">Gym</h1>
    </div>

    <div class="home-page-content">
      <div class="home-page-block h-col-1">
        <div class="block-content">
          <img src="{% static '/photos/man-muscles-and-fitness-16863.svg' %}" alt="" class="block-content-icon">
          <h3 class="subtitle">{{ num_athletes }}</h3>
          <p class="description">Athletes registered</p>
        </div>
      </div>
      <div class="home-page-block h-col-2">
        <div class="block-content">
          <img src="{% static '/photos/strong-man-arm-and-dumbbell-16869.svg' %}" alt="" class="block-content-icon">
          <h3 class="subtitle">{{ num_exercises }}</h3>
          <p class="description">Exercises implemented</p>
        </div>
      </div>
      <div class="home-page-block h-col-3">
        <div class="block-content">
          <img src="{% static '/photos/man-and-gymnastic-rings-16878.svg' %}" alt="" class="block-content-icon">
          <h3 class="subtitle">{{ num_trainings }}</h3>
          <p class="description">Trainings created</p>
        </div>
      </div>
      </div>
  </div>
{% endblock %}

