{% extends 'base.html' %}
{% load crispy_forms_filters %}

{% block content %}
  <h1>
    Trainings
  <a style="float: right" href="{% url 'gym:training-create' %}">+</a>
  </h1>
  <form method="get" action="" class="form-inline">
  {% csrf_token %}
  {{ search_field|crispy }}
  <input type="submit" value="🔎" class="btn-info btn">
  </form>
  {% if training_list %}
    {% for training in training_list %}
      <ul>
        <li>
          <a href="{% url 'gym:training-detail' pk=training.id %}">
            {{ training.training_name }}
          </a>
          {% for exercise in training.exercises.all %}
            <ul>
            <li>{{ exercise }}</li>
            </ul>
          {% endfor %}
        </li>
      </ul>
    {% endfor %}
  {% else %}
    <p>Unfortunately trainings have not added yet</p>
  {% endif %}

  {#   --paginator--#}
   <div class="paginator-centre ">
{% load query_transform %}
{% if is_paginated %}
    <ul class="pagination">
      {% if page_obj.has_previous %}
        <li class="page-item">
          <a href="?{% query_transform request page=page_obj.previous_page_number %}" class="page-link">←</a>
        </li>
      {% endif %}
    <li class="page-item active">
      <span class="page-link">{{ page_obj.number }} of {{ paginator.num_pages }}</span>
    </li>
      {% if page_obj.has_next %}
        <li class="page-item">
          <a href="?{% query_transform request page=page_obj.next_page_number %}" class="page-link">→</a>
        </li>
      {% endif %}
    </ul>
  {% endif %}
</div>
{#     --paginator--#}

{% endblock %}