{% extends 'base.html' %}

{% block content %}
  <div class="ml-3">
  <h3>
    {{ training.training_name }}
    <a style="float: right" class="btn btn-success" href="{% url 'gym:training-update' pk=training.id %}">
      Update
    </a>
    <a style="float: right" class="btn btn-danger" href="{% url 'gym:training-delete' pk=training.id %}">
      Delete
    </a>
  </h3>
  <p>{{ training.training_description }}</p>
  {% for exercise in training.exercises.all %}
    <ul>
      <li>
        <p><strong>{{ exercise.exercise_name }}</strong></p>
        <p>{{ exercise.description }}</p>
         <img alt="ath-photo" src="{{ exercise.picture.url }}">
      </li>
    </ul>
   {% endfor %}
  </div>
{% endblock %}